.main__header-container {
  width: 100%;
  border-bottom: 1px solid #DADADA;
  margin: 0;
}

.main__header {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  max-width: 600px;
  color: white;
  margin: 0;
  padding-bottom: 23px;
}


@media screen and (max-width: 500px){
  .main__header-container {
    max-width: 284px;
    margin: 0 auto;
  }

  .main__header {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }
}