.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: #202020;;
}

.not-found__error-container {
   margin: 0;
}

.not-found__error {
  padding-top: 245px;
  padding-bottom: 5px;
  text-align: center;
  margin: 0;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.not-found__error-text {
  margin: 0;
  padding-bottom: 184px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.not-found__button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #4285F4;
  opacity: 1;
  transition: opacity 0.4s ease-out;
  padding-bottom: 60px;
}

.not-found__button:hover {
  opacity: 0.7;
}


@media screen and (max-width: 769px) {
  .not-found__error {
    padding-top: 408px;
  }
}

@media screen and (max-width: 320px) {
  .not-found__error {
    font-size: 80px; 
    padding-top: 329px;
    padding-bottom: 10px;
  }

  .not-found__error-text {
    font-size: 12px;
    padding-bottom: 284px;
  }
}