.navigation {
  display: none;
}

@media screen and (max-width: 769px) {
  .navigation {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    transition: visibility 1s, opacity 1s;
  }

  .navigation_active {
    visibility: visible;
    opacity: 100%;
  }

  .navigation__container {
    box-sizing: border-box;
    padding: 159px 90px 90px 90px;
    width: 520px;
    right: -520px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #202020;
    justify-content: space-between;
    position: relative;
    align-items: center;
    transition: right 1.5s;
    z-index: 1;
  }

  .navigation__container_opened {
    right: 0;
    transition: right 1.5s;
  }

  .navigation__close-btn {
    background-image: url(../../images/closeburger.svg);
    width: 22px;
    height: 22px;
    background-color: #202020;
    background-position: center;
    border: none;
    position: absolute;
    top: 27px;
    right: 27px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }

  .navigation__close-btn:hover {
    opacity: 0.7;
  }

  .navigation__nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .navigation__link {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: white;
    text-decoration: none;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4px;
    
  }
  
  .active {
    border-bottom: 2px solid white;
  }

  .navigation__link:last-of-type {
    margin:0;
  }

  .navigation__account-container {
    border-radius: 40px;
    background: #202020;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }

  .navigation__account-btn {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 92.308% */
    padding-right: 7px;
    padding-left: 11px;
    cursor: pointer;
  }

  .navigation__account-icon {
    background: url(../../images/account.svg);
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-color: #313131;
    border-radius: 50px;
    background-position: center center;
    cursor: pointer;
  }
}


@media screen and (max-width: 500px) {
  .navigation__container {
    padding: 144px 10px 46px;
  }

  .navigation__nav {
    row-gap: 17px;
  }

  .navigation__link {
    margin-bottom: 0;
    padding-bottom: 7px;
  }

  .navigation__close-btn {
    top: 19px;
    right: 18px;
  }

  .navigation__link:last-of-type {
    margin-bottom: 435px;
  }
}