.nav-tab {
  background: #272727;
}

.nav-tab__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.nav-tab__link {
  color: white;
  text-decoration: underline;
  padding-right: 40px;
  opacity: 1;
  transition: opacity 0.4s ease-out;
  cursor: pointer;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
}

.nav-tab__link:hover {
  opacity: 0.7
}

.nav-tab__link:last-child {
  padding: 0;
}

@media screen  and (max-width: 769px){
  .nav-tab__container {
    max-width: 214px;
  }

  .nav-tab__link {
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 145.455% */
    text-decoration-line: underline;
    padding-right: 24px;
  }
}