.movie-card {
  width: 364px;
  margin: 0;
  border-radius: 6px;
  background: #222;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}

.movie-card:nth-child(n + 13) {
  display: none;
}

.movie-card__poster {
  width: 100%;
  height: 203px;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px
}

.movie-card__info {
  display: flex;
  height: 35px;
  justify-content: space-between;
  padding-top: 5px;
  margin-bottom: 5px;
}

.movie-card__title {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 290px;
  margin: 0;
  height: 16px;
  padding: 8px 0 9px 16px;
}

.movie-card__fav-add {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: none; 
  outline: none;
  cursor: pointer;
  background-image: url(../../../images/fav_add.svg);
  background-repeat: no-repeat;
  transition: opacity 0.4s ease-out;
  margin-right: 15px;
  background-position: center;
}

.movie-card__fav-add:hover {
  opacity: 0.7;
}

.movie-card__fav-add_active {
  background-image: url(../../../images/add_active.svg)
}

.movie-card__duration {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8B8B8B;
  margin: 0;
  padding: 0 0 16px 15px;
}

.movie-card__delete-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  margin-right: 15px;
  background-color: transparent;
  border: none; 
  outline: none;
  cursor: pointer;
  background-image: url(../../../images/delete__btn.svg);
  background-repeat: no-repeat;
  transition: opacity 0.4s ease-out;
  background-position: center;
}

.movie-card__delete-btn:hover {
  opacity: 0.7
}

@media screen and (max-width: 910px){
  .movie-card {
    max-width: 339px;
    max-height: 262px;
  }

  .movie-card__poster {
    height: 190px;
  }

  .movie-card__info {
    padding-top: 0;
    margin-bottom: 0;
    height: 15px;
    margin-top: 10px;
  }

  .movie-card__title {
    padding: 0;
    padding-left: 16px;
  }

  .movie-card__fav-add {
    height: 15px;
    width: 15px;
    margin-right: 22px;
  }

  .movie-card__duration {
    padding: 15px 0 15px 15px;
  }

  .movie-card__delete-btn {
    width: 15px;
    height: 15px;
    margin-right: 22px;
    margin-top: 2px;
  }
}

@media screen and (max-width: 500px){
  .movie-card {
    width: 300px;
    height: 237px;
  }

  .movie-card__poster {
    height: 168px;
  }

  .movie-card__title {
    font-size: 12px;
  }

  .movie-card__info {
    margin-top: 10px;
  }

  .movie-card__delete-btn {
    margin-right: 19px;
    margin-top: 0;
  }
}