.footer {
  margin: 0 70px;
}

.footer__title {
  text-align: center;
  margin: 0;
  padding: 79px 0 20px 0;
  border-bottom: 1px solid #424242;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8B8B8B;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer__copyright {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.footer__links {
  max-height: 16px;
}

.footer__link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__link:first-of-type {
  padding-right: 20px;
}

@media screen and (max-width: 769px){
  .footer {
    margin: 0 30px;
  }
}


@media screen and (max-width: 500px){
 .footer {
    margin: 0 10px;
 }

 .footer__title {
  padding-top: 60px;
  font-size: 12px;
 }

 .footer__container {
    display: flex;
    margin: 0 auto;
    flex-direction:column-reverse;
    width: 150px;
    height: 90px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
 }

  .footer__links {
    display: flex;
    flex-direction: column;
  }

  .footer__link {
    text-align: center;
  }

  .footer__link:first-of-type {
    padding: 0;
  }

  .footer__link:last-of-type {
    padding-top: 15px;
  }

  .footer__copyright {
    padding-top: 20px;
  }
}