.promo {
  background-color: #073042;
}

.promo__container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 524px;
}

.promo__header {
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
  margin: 0 275px 40px;
}

.promo__logo {
  width: 320px;
  height: 320px;
  margin: 0 auto 40px;
  position: absolute;
  z-index: 0;
}

@media screen and (max-width: 769px) {
  .promo__container {
    padding-top: 120px;
    padding-bottom: 140px;
  }

  .promo__header {
    margin: 0;
  }

  .promo__logo {
    margin: 0;
  }
}

@media screen and (max-width: 665px) { 
  .promo__container {
    max-height: 570px;
    padding: 0;
    padding-bottom: 45px;
  }

  .promo__header {
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px; /* 125.806% */
    letter-spacing: -1.24px;
    max-width: 300px;
  }

  .promo__logo {
    width: 248px;
    height: 248px;
  }
}